* {
    font-family:'Courier New', Courier, monospace;
    background-color: #859B81;
    color: antiquewhite;
}

section {
    margin: auto;
    max-width: 600px;
    text-align: center;
    margin-top: 40px;
}
fieldset {
    border: none;
}
.formulario {
    outline: 0;
    border: none;
    height: 27px;
    font-size: 18px;
    font-weight: 900;
    padding: 1px 10px;
    border-radius: 5px;
    color: #6f856b;
    background-color: #aac4a5;
    border: #6f856b solid 1px;
}

.btn {
    height: 29px;
    border: none;
    cursor: pointer;
    color: #6f856b;
    padding: 5px 10px;
    border-radius: 5px;
    border: #6f856b solid 1px;
    background-color: antiquewhite;
}
.btn:hover {
    color: antiquewhite;
    background-color: #6f856b;
}

section div {
    margin-top: 30px;
}

span {
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-top: 30px;
}

/* Logo */
.logo_bianca {
    gap: 20px;
    width: 100%;
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}
.logo_bianca img{
    width: 30px;
}
